<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Глобальное потепелние</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../templates/index.js"></script>
</head>

<body>
    <header>
        <h1 >Глобальное потепление какие проблемы вызывает ?</h1>
        <div>
            <a href="#section1"><h2>Какие последсвия глобального потепления.</h2></a>
            <a href="#section2"><h2>Как их решить ?</h2></a>
            <a href="#section3"><h2>Карта куда сдать мусор</h2></a>
        </div>
        <hr />

    </header>
    <section id="section1">
        <h1 class="h11">Последстивия глобального потепления</h1>
        <img src="../static/images/ice.jpg" alt="ice" align="right">
        <p>
            Таяние арктических льдов, повышение уровня моря, отступление ледников: глобальное потепление привело к
            десятилетиям сокращения и истончения арктического морского льда. Сейчас он находится в опасном положении и
            уязвим для атмосферных аномалий. Прогнозы сокращения арктического морского льда отличаются друг от друга.
            Последние прогнозы предполагают, что Арктика может быть свободной ото льда (определяется как протяжённость
            льда менее 1 миллиона км²) в летний период уже в 2025—2030 годах. По оценкам, повышение уровня моря с 1993
            года составляло в среднем от 2,6 мм до 2,9 мм в год ± 0,4 мм. Кроме того, повышение уровня моря ускорилось
            за период наблюдений с 1995 по 2015 год. Сценарий МГЭИК с высоким уровнем эмиссии предполагает, что в
            течение XXI века уровень моря в среднем может вырасти на 52-98 см.
        </p>
        <img src="../static/images/weather.jpg" alt="" align="right">
        <p class="sec">
            Природные катаклизмы: повышение глобальной температуры приведёт к изменениям в количестве и распределении
            атмосферных осадков. Атмосфера становится более влажной, выпадает больше дождей в высоких и низких широтах,
            и меньше — в тропических и субтропических регионах. В результате могут участиться наводнения, засухи,
            ураганы и другие экстремальные погодные явления. Потепление должно, по всей вероятности, увеличивать частоту
            и масштаб таких событий. По мнению одних исследователей, увеличение температуры морской воды может приводить
            к увеличению энергии ураганов, по мнению других — «эмпирические данные не указывают на увеличение частоты
            формирования более мощных циклонов».
        </p>
    </section>
    <section id="section2">
        <h1 class="h11">
            Как решить проблему ?
        </h1>
        <p>
            Чтобы решить проблемы глобального потепления надо:
        </p>
        <ul>
            <img src="../static/images/zawod.jpeg" alt="" align="right">
            <p>
                1.Поиск альтернативных источников энергии.
            </p>
            <p>
                2.Уменьшение выбросов CO2, совершенствуя существующее производство и транспорт.
            </p>
            <p>
                3.Посадка деревьев.
            </p>
            <p>
                4.Отбор углекислого газа из атмосферы и закачка в подземные пласты Земли.
            </p>
        </ul>
    </section>
    <section id="section3">
        <h1 class="h11">
            Карта куда можно сдать отходы
        </h1>
        <p>
            Всем надо знать где можно сдать мусор для переработки вот я ипредлагаю на неё посмотреть 
        </p>
        
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Afb1bb75b3f99dd74530e3284b213bf05862390a971b252f4d83d0a934b3b8198&amp;width=1500&amp;height=552&amp;lang=ru_RU&amp;scroll=true"></script>
        
    </section>
    <footer>
        <h1 class="h11">Подпишитесь на нашу рассылку</h1>
        <form method="POST">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            <button type="submit">Подписаться</button>
        </form>
    </footer>
</body>

</html>